@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital@0;1&family=Inconsolata:wght@200..900&display=swap');

body {
  background-color: white;
  font-family: "Inclusive Sans", sans-serif;
}

p {
  font-family: "Inclusive Sans", sans-serif;
}

header {
  position: sticky;
  top: 0;
  width: 100vw;
  height: 7rem;
  z-index: 1000;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

aside {
  position: sticky;
  top: 2rem;
  width: 20vw;
  height: calc(100vh - 8rem - 3.5rem); /* view height - header - padding&margin */
  background-color: #F5F5F5;
  padding: 1.5rem;
  margin: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

main {
  flex-grow: 1;
  padding: 1.5rem;
  overflow-y: auto;
  position: relative;
  margin-left: 0;
}

h1 {
  font-family: "Inclusive Sans", sans-serif;
  text-align: center;
  font-size: 60px;
}

h2 {
  font-family: "Inconsolata", monospace;
  font-size: 30px;
  font-weight: 500;
}

h3 {
  font-family: "Inclusive Sans", sans-serif; 
  font-size: 1.125rem;
  font-weight: 500;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}

.hero-title-main,
.hero-title-sub {
  display: block;
}

.prose h1 {
  font-size: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.prose h2 {
  font-size: 1.5rem;
  margin-top: 1.25rem;
  margin-bottom: 0.75rem;
}

.prose h3 {
  font-size: 1.25rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.logo {
  width: 80vh;
  height: auto;
}

.small-logo {
  height: 100%;
  width: auto;
  max-height: 5rem;
  padding-left: 2rem;
}

.hero-title {
  font-size: 2.25rem;
  font-weight: 800;
}

.hero-description {
  margin: 0 auto;
  max-width: 48rem;
  font-size: 1.125rem;
}

.hero-cta .btn {
  margin: 0.5rem;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.feature-item {
  text-align: center;
}

.feature-icon-container {
  height: 3rem;
  width: 3rem;
  border-radius: 0.375rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cta-content .btn {
  margin-right: 1rem;
}

.header-avatar {
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  object-fit: cover;
}

.profile-popup {
  position: absolute;
  right: 0;
  margin-top: 0.5rem;
  width: 12rem;
  border-radius: 0.375rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 0.25rem;
  z-index: 20;
}

.profile-popup-icon {
  display: inline-block;
  margin-right: 0.5rem;
  height: 1rem;
  width: 1rem;
}

.profile-popup-btn {
  display: block;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.875rem;
  width: 100%;
  text-align: left;
}

.dark-mode-btn {
  padding: 0.5rem;
  border-radius: 9999px;
  transition-property: background-color, color;
  transition-duration: 200ms;
  transition-timing-function: ease;
}

.login-btn {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border: 1px solid transparent;
  border-radius: 0.375rem;
  transition-property: background-color, color;
  transition-duration: 200ms;
  transition-timing-function: ease;
}

.signup-btn {
  margin-left: 1rem;
  margin-right: 1rem;
  color: white;
}

.background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}

.edit-profile {
  position: relative;
  width: 100%;
  max-width: 28rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.exit {
  top: 0.5rem;
  right: 0.5rem;
  padding: 0.25rem;
  border-radius: 9999px;
}

/* The Display users  editing notes */
/* App.css */
.editing-users {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.user-badge {
  background-color: blue;
  padding: 5px 10px;
  border-radius: 5px;
}

.sidebar-mobile {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 40;
  width: 16rem;
  overflow-y: auto;
}

.sidebar-btn {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.375rem;
  transition: background-color 0.2s ease-in-out;
}

.sidebar-icon {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.open-sidebar {
  position: fixed;
  top: 1rem;
  left: 1rem;
  padding: 0.5rem;
  border-radius: 0.375rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-left: 1rem;
  z-index: 100;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  color: white;
  transition: background-opacity 0.15s ease-in-out;
}

.add-contributor {
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 0.375rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.input {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 2.5rem;
  border-radius: 0.375rem;
  outline: none;
}

.input:focus {
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.5);
}

.contributor-btn {
  margin-top: 1rem;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.375rem;
  transition-property: background-color, border-color, color;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
}

.search {
  position: absolute;
  right: 0.75rem;
  top: 0.625rem;
  height: 1.25rem;
  width: 1.25rem;
}

.list-item {
  padding: 0.5rem;
  border-radius: 0.375rem;
  cursor: pointer;
  transition-property: background-color, border-color, color;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
}

.profile-tab-section {
  display: flex;
  gap: 1rem;
  border-bottom: 1px solid #4B5563;
}

.profile-tab {
  padding-bottom: 0.5rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  font-size: 0.875rem;
  font-weight: 500;
  transition-property: background-color, border-color, color;
  transition-duration: 200ms;
}

.profile-image {
  width: 8rem;
  height: 8rem;
  border-radius: 9999px;
  object-fit: cover;
}

.profile-label {
  display: block;
  font-size: 0.875rem;
  font-weight: 500;
}

.profile-input {
  margin-top: 0.25rem;
  display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;
  border: 1px solid gray;
  border-radius: 0.375rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  outline: none;
}

.profile-input:focus {
  border: transparent;
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.5);
}

.edit-btn {
  margin-left: 0.5rem;
  padding: 0.5rem;
  border-radius: 9999px;
}

.eye {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding-right: 0.75rem;
  color: #9CA3AF;
}

.eye:hover {
  color: #6B7280;
}

.theme-chooser {
  padding: 0.5rem;
  border-radius: 0.375rem;
  transition: all 0.2s;
}

.notification {
  border-radius: 0.5rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  max-width: 28rem;
  width: 80%;
}

.notification-icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.75rem;
}

.notification-text {
  font-size: 1.125rem;
  font-weight: 600;
}

.notification-btn {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.375rem;
  background-color: #E5E7EB;
  color: #374151;
}

.delete {
  background-color: #C53030;
  color: #FFFFFF;
}

.delete:hover {
  background-color: #B83A3A;
}

.recently-used-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.5rem; /* 6 * 0.25rem (1.5rem) */
}

.grid-item {
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.15s ease-in-out;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 2rem;
}

.note {
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.trash {
  padding: 0.5rem;
  border-radius: 9999px;
  color: #F56565;
  background-color: transparent;
}

.trash:hover {
  background-color: #FED7D7;
}

.folders-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.folder {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.select {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.375rem;
  border-width: 2px;
  border-color: #D1D5DB;
}

.select:focus {
  border-color: #3B82F6;
  outline: 0;
}

.h1-landing {
  font-weight: 800;
  font-size: 2.25rem;
  line-height: 2.5rem;
  letter-spacing: -0.025em;
}

.h2-landing {
  margin-top: 0.5rem;
  font-size: 1.875rem;
  line-height: 2rem;
  font-weight: 800;
  letter-spacing: -0.025em;
}

.p-landing {
  margin-top: 0.75rem;
  max-width: 28rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 1rem;
  line-height: 1.5rem;
}

.emphasis-landing {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.feature-grid {
  margin-bottom: 2.5rem;
}

.feature-icon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  border-radius: 0.375rem;
  color: white;
}

.feature-title {
  margin-left: 4rem;
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 500;
}

.feature-text {
  margin-top: 0.5rem;
  margin-left: 4rem;
  font-size: 1rem;
}

.testimonial-grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 2rem;
}

.testimonial-text {
  font-size: 1.125rem;
  font-weight: 500;
}

.testimonial-name {
  font-size: 1rem;
  font-weight: 600;
}

.social {
  transition: color 0.2s;
}

.social:hover {
  color: #6b7280;
}

.copyright {
  text-align: center;
  font-size: 1rem;
}

.h1-login {
  font-size: 1.875rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1.5rem;
}

.error-text {
  color: #f87171;
  text-align: center;
  margin-bottom: 1rem;
}

.login-label {
  display: block;
  font-size: 0.875rem;
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.checkbox {
  height: 1rem;
  width: 1rem;
  color: #4f46e5;
  border: 1px solid #d1d5db;
  border-radius: 0.375rem;
}

.login-text {
  display: block;
  font-size: 0.875rem;
}

.login-page-btn {
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1rem;
  border: 1px solid transparent;
  border-radius: 0.375rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  font-size: 0.875rem;
  font-weight: 500;
  color: white;
  transition: background-opacity 0.2s;
}

.login-page-btn:hover {
  background-color: rgba(13, 62, 106, 0.9);
}

.login-page-btn:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(79, 70, 229, 0.5); 
}

.preview-text {
  max-width: none;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.text-area {
  width: 100%;
  height: calc(100vh - 300px);
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.text-area:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(37, 99, 235, 0.5);
}

.collaborators {
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  background-color: #d1d5db;
  color: #374151;
}

.template-btn {
  width: 100%;
  padding: 1rem;
  color: white;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.15s ease-in-out;
}

@media (min-width: 768px) {
  .recently-used-grid {
      grid-template-columns: repeat(2, 1fr);
  }

  .features-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .folders-grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .h1-landing {
    font-size: 3.75rem;
    line-height: 1;
  }

  .h2-landing {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .p-landing {
    margin-top: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
    max-width: 48rem;
  }

  .feature-grid {
    margin-bottom: 0;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 2rem;
    row-gap: 2.5rem;
  }

  .testimonial-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .recently-used-grid {
      grid-template-columns: repeat(3, 1fr);
  }

  .features-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .folders-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

.bg-gray-300 {
  background-color: #e2e8f0;
}

.text-gray-700 {
  color: #4a5568;
}